In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/pheno_merged.csv')
df.head()

    id rif inh  pza emb str  cip  cap amk moxi oflx  kan
0  101   R   R    R   R   R  NaN  NaN   S  NaN  NaN  NaN
1  102   R   R    R   R   R  NaN  NaN   R  NaN  NaN  NaN
2  103   R   R    S   R   R  NaN  NaN   R  NaN  NaN  NaN
3  104   R   R  NaN   R   R  NaN  NaN   S  NaN  NaN  NaN
4  105   R   R    S   S   S  NaN  NaN   S  NaN  NaN  NaN

In [3]:
df.columns

Index(['id', 'rif', 'inh', 'pza', 'emb', 'str', 'cip', 'cap', 'amk', 'moxi',
       'oflx', 'kan'],
      dtype='object')

In [6]:
for i in df.columns:
    print(f'{i}: {df[i].unique()}')

id: ['101' '102' '103' ... 'SRR2101825' 'SRR2101826' 'SRR2101828']
rif: ['R' 'S' nan]
inh: ['R' 'S' nan]
pza: ['R' 'S' nan]
emb: ['R' 'S' nan]
str: ['R' 'S' nan]
cip: [nan 'S' 'R']
cap: [nan 'R' 'S']
amk: ['S' 'R' nan]
moxi: [nan 'S' 'R']
oflx: [nan 'R' 'S']
kan: [nan 'S' 'R']

In [7]:
df.shape

(3833, 12)

In [8]:
df.id.nunique()

3833

In [11]:
# set id as columns
df.set_index('id', inplace=True)
df

           rif inh  pza emb  str  cip  cap  amk moxi oflx  kan
id
101          R   R    R   R    R  NaN  NaN    S  NaN  NaN  NaN
102          R   R    R   R    R  NaN  NaN    R  NaN  NaN  NaN
103          R   R    S   R    R  NaN  NaN    R  NaN  NaN  NaN
104          R   R  NaN   R    R  NaN  NaN    S  NaN  NaN  NaN
105          R   R    S   S    S  NaN  NaN    S  NaN  NaN  NaN
...         ..  ..  ...  ..  ...  ...  ...  ...  ...  ...  ...
SRR2101823   S   S    S   S    S  NaN  NaN  NaN  NaN  NaN  NaN
SRR2101824   S   S    S   S    S  NaN  NaN  NaN  NaN  NaN  NaN
SRR2101825   S   S    S   S  NaN  NaN  NaN  NaN  NaN  NaN  NaN
SRR2101826   S   S    S   S  NaN  NaN  NaN  NaN  NaN  NaN  NaN
SRR2101828   S   S    S   S    S  NaN    S    S    S    S    S

[3833 rows x 11 columns]

In [13]:
df.fillna('X', inplace=True)
df.head()

    rif inh pza emb str cip cap amk moxi oflx kan
id
101   R   R   R   R   R   X   X   S    X    X   X
102   R   R   R   R   R   X   X   R    X    X   X
103   R   R   S   R   R   X   X   R    X    X   X
104   R   R   X   R   R   X   X   S    X    X   X
105   R   R   S   S   S   X   X   S    X    X   X

In [26]:
for i in df.columns:
    cntR, cntS, cntN = df[df[i] == 'R']['rif'].count(), df[df[i] == 'S']['rif'].count(), df[df[i] == 'X']['rif'].count()
    print(f'{i}: R-{cntR}, S-{cntS}, NaN-{cntN}')

rif: R-1292, S-2464, NaN-77
inh: R-1570, S-2209, NaN-54
pza: R-702, S-2656, NaN-475
emb: R-977, S-2764, NaN-92
str: R-1031, S-1186, NaN-1616
cip: R-238, S-977, NaN-2618
cap: R-589, S-824, NaN-2420
amk: R-235, S-1199, NaN-2399
moxi: R-269, S-1145, NaN-2419
oflx: R-89, S-678, NaN-3066
kan: R-272, S-1087, NaN-2474